.info {
    border: 4px solid var(--main-color);
    background-color: var(--alternate-background);
    border-radius: var(--border-radius);
    margin: 1%;
    display: flex;
    flex-direction: column;
    color: white;
}

.extra {
    display: flex;
    flex-direction: column;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: left;
}

.col {
    margin-right: 2.5%;
}

ul {
    font-size:x-large;
    color: white
}

.highs-and-lows {
    display: flex;
    align-items: center;
}

.highs-and-lows-container {
    padding-right: 10%;
}