.loading {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.animation {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: black;
}

.loading-caveat {
    color: black;
}