@import '../_Other/standard.scss';

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 0 10px;
    border-radius: 5px;
    margin-left: 33%;
    margin-right: 33%;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
  }
  
  .search-icon {
    cursor: pointer;
    margin-left: 10px;
  }