:root {
    // --main-color : #3498db;
    // --background-color : #042048;
    // --alternate-background : #92cbf2;
    --main-color : #000000;
    --background-color: #87ceeb;
    --alternate-background: #0f7096;
    --other-one : #f2e8cf;
    --highs : #127a7d;
    --nav : #708090; 
    --lows:  #152cc3;
    --border-radius : 25px;
    --white : #fff;
    --border : #ccc;
    --font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}