@import '../_Other/standard.scss';

.help {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2.5%;
    padding-right: 2.5%;
    justify-content: center;
    text-align: left    ;
    font-size: larger;
    margin: 2.5%;
    border: 4px solid black;
    background-color: var(--alternate-background);
}

.help-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--border);
    background-color: var(--background-color);
    color: var(--white);
}

.help-title {
    color: black;
    text-align: center;
}

.qa {
    font-style: italic;
    font-weight: bold;
}
