@import '../_Other/standard.scss'; 

.navbar {
    background-color: var(--main-color);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
  
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  margin-right: 25%;
}

.nav-links {
  list-style: none;
  display: flex;

  li {
    margin-right: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.logo-image {
  padding-right: 25px;
}

.logo-title {
  justify-content: center;
}

.link {
  color: var(--white);
  font-style: oblique;
  font-size: large;
  font-weight: bold;
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
    text-decoration: none;
}