@import '../_Other/standard.scss';

.daily {
    border: 4px solid var(--main-color);
    background-color: var(--alternate-background);
    border-radius: var(--border-radius);
    margin: 1%;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #fff;
}