@import '../_Other/standard.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 2.5%;
    color: black
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 2.5%;
    color: black
}

.about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--border);
    background-color: var(--background-color);
    color: var(--white);
}

.about-title {
    color: black;
}

.attribution-title {
    color: black;
}

.link {
    color: black;
    font-style: oblique;
    font-size: large;
    font-weight: bold;
  }
  
.link:link {
text-decoration: none;
}

.link:visited {
text-decoration: none;
}

.link:hover {
text-decoration: underline;
}

.link:active {
    text-decoration: none;
}

li {
    color: black;
}