@import '../_Other/standard.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 2.5%;
}

.feedback-container {
    background-color: #0f7096;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 2.5%; 
    padding-left: 50px;
}

.attribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin: 2.5%;
}

.about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px solid var(--border);
    background-color: var(--background-color);
    color: var(--white);
}

h2 {
    color: whitesmoke;
}

.link {
    color: var(--white);
    font-style: oblique;
    font-size: large;
    font-weight: bold;
  }
  
.link:link {
text-decoration: none;
}

.link:visited {
text-decoration: none;
}

.link:hover {
text-decoration: underline;
}

.link:active {
    text-decoration: none;
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}
  
