.App {
  text-align: center;
  background-color: #042048;
}

.spacer {
  margin: 1%;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info-holder {
  flex: 1;
  max-width: 25%;
}

.views {
  flex: 1;
  overflow: auto ;
}